<ul class="navbar-nav">
    <li class="nav-item dropdown btn btn-primary d-inline">
        <a class="nav-link dropdown-toggle d-inline" href="#" role="button" data-bs-toggle="dropdown"
            data-bs-auto-close="outside" aria-expanded="false">
            All Categories
        </a>
        <ul class="dropdown-menu">
            {% for category in categories %}
                {% if category.is_root %}
                    {% include "partials/_category_dropdown.html" with category=category %}
                {% endif %}
            {% endfor %}
        </ul>
    </li>
</ul>

<script>
    document.querySelectorAll('.dropdown-menu li.dropend').forEach((dropdown) => {
        dropdown.addEventListener('mouseenter', function () {
            let menu = this.querySelector('.dropdown-menu');
            const bsDropdown = bootstrap.Dropdown.getOrCreateInstance(this.querySelector('.dropdown-toggle'));
            bsDropdown.show();
        });
        dropdown.addEventListener('mouseleave', function () {
            let menu = this.querySelector('.dropdown-menu');
            const bsDropdown = bootstrap.Dropdown.getOrCreateInstance(this.querySelector('.dropdown-toggle'));
            bsDropdown.hide();
        });
    });
</script>